<!DOCTYPE html>
<html>
<head>
    <title>CyberShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h1>CyberShield</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>Protect Your Digital Life</h1>

    <p>
        AI Powered Cyber Protection and Risk Assessment Platform
    </p>

    <a href="/dashboard">
        <button>Open Dashboard</button>
    </a>
</section>

</body>
</html>